/* Global Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
  --black: #1f1f1f;
  --font: 'Hind', Helvetica, sans-serif;
}

#app {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--black);
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

a {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: unset;
}

.page-wrap {
  opacity: 0;
  transition: 0.4s;
}
.page-wrap.loaded {
  opacity: 1 !important;
}

.main {
  padding-top: 50px;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 80%;
}

.content.map {
  height: 350px;
}

.leaflet-interactive {
  stroke: #4e3ea7;
}

.leaflet-interactive:hover {
  fill: rgb(73, 58, 252, 0.6);
  transition: 0.4s;
}

.datatable-wrap {
  max-width: 80%;
}
