/* Global Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
  --black: #1f1f1f;
  --font: 'Hind', Helvetica, sans-serif;
}

#app {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--black);
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

a {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: unset;
}

.page-wrap {
  opacity: unset;
  transition: 0.5s;
}
.page-wrap.loaded {
  opacity: 1 !important;
}

.main {
  padding-top: 50px;
}

.leaflet-interactive {
  stroke: #4e3ea7;
}

.leaflet-interactive:hover {
  fill: rgb(73, 58, 252, 0.45);
  transition: 0.4s;
}

.content-wrap {
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
}

.datatable-search {
  margin-bottom: 25px;
}

.stats-wrap {
  padding-bottom: 130px;
}

.stats-header {
  margin: 25px 0 50px 0;
}

.card-text ul {
  padding-left: 0;
}

.cost p {
  text-decoration: underline;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.navigation {
  opacity: 1 !important;
  z-index: 99;
}
